.container{
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #fff;
}

input{
  margin-top: 30px;
  padding: 10px;
  border-radius: 15px 0 0 15px;
  border: none;
  width: 60%;
  max-width: 300px;
}

button{
  background-color: #ff9800;
  border: 0;
  padding: 10px;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  color: #fff;
  
}

button:hover{
  background-color: #f57c00;
}

